{% extends "base.html" %}
{% block title %}{{ album | capfirst }}{% endblock title %}
{% block content %}
<div class="d-flex justify-content-center mt-2 mb-2">
  <p class=><h1><strong>Información del álbum:</strong></p>
</div>

<div class="card-1 mb-3" style="max-width: 100%;">
  <div class="row-1 g-0 d-flex align-items-center">
    <!-- Columna de la imagen -->
    <div class="col-md-4">
      <img src="{{ album.portada.url }}" class="img-fluid rounded-start" alt="{{ album.titulo_del_album }}">
    </div>

    <!-- Columna de la información -->
    <div class="col-md-8">
      <div class="card-body-1">
        <ul>
          <li><i class="fa-solid fa-pen-nib"></i><h4><strong>Título del álbum:</strong> {{ album.titulo_del_album }}</li>
          <li><i class="fa-solid fa-certificate"></i><h4><strong>Año de lanzamiento:</strong> {{ album.anio_de_lanzamiento }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <a href="{% url 'album_manager:index' %}" class="btn btn-secondary m-2">Regresar</a>
</div>

{% endblock content %}
